.todo-app {
  padding: 20px 15px;
  background-color: lightblue;
  height: 100vh;
}

.app-header {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.list-grid {
  margin-top: 15px;
}
